In [54]:
import pandas as pd
fuil1=pd.read_excel('./data/Classeur1.xlsx')
fuil2=pd.read_excel('./data/Classeur2.xlsx')
fuil1['Libellé 1'] = fuil1['Libellé 1'].astype('string')
fuil1['Libellé 2'] = fuil1['Libellé 2'].astype('string')
fuil1['Référence interne'] = fuil1['Référence interne'].astype('string')

fuil2['Nom'] = fuil2['Nom'].astype('string')
fuil1.head(2)

,SYSDOSSIER,Etablissement,Date,Jal,N°,Général,Libellé 1,Référence interne,Libellé 2,ENTITE CONSO,Compte auxiliaire de contrepartie
0,ACTIVE_ASSURANCES_GROUPE_SAS,1,2025-01-01,REV,1,61561840,CYBER SECURITE GROUPE,EXT CCA 12/24,CCA : MISTRAL XMCO 2024,ACTIVE_ASSURANCES_GROUPE_SAS,NaN
1,AFI_ASSURANCES_SAS,1,2025-01-31,ODR,3,62320000,Developpement et création WEB,REPORTING JANVIER 2025,CCA DILOGIS 2/3,AFI_ASSURANCES_SAS,NaN

In [55]:
fuil1.dtypes

SYSDOSSIER                                   object
Etablissement                                 int64
Date                                 datetime64[ns]
Jal                                          object
N°                                            int64
Général                                       int64
Libellé 1                            string[python]
Référence interne                    string[python]
Libellé 2                            string[python]
ENTITE CONSO                                 object
Compte auxiliaire de contrepartie           float64
dtype: object

In [56]:
fuil2.head(2)

,Clé,Nom de la base de données,Auxiliaire,Nom
0,ACTIVE_ASSURANCES_GROUPE_SAS118FONCIA00000000,ACTIVE_ASSURANCES_GROUPE_SAS,118FONCIA00000000,FONCIA
1,ACTIVE_ASSURANCES_GROUPE_SAS16SODEXO000000000,ACTIVE_ASSURANCES_GROUPE_SAS,16SODEXO000000000,SODEXO

In [57]:
fuil1['Nom_mapping']=fuil1['Libellé 1']+fuil1['Libellé 2']+fuil1['Référence interne']

In [58]:
fuil1.head(2)

,SYSDOSSIER,Etablissement,Date,Jal,N°,Général,Libellé 1,Référence interne,Libellé 2,ENTITE CONSO,Compte auxiliaire de contrepartie,Nom_mapping
0,ACTIVE_ASSURANCES_GROUPE_SAS,1,2025-01-01,REV,1,61561840,CYBER SECURITE GROUPE,EXT CCA 12/24,CCA : MISTRAL XMCO 2024,ACTIVE_ASSURANCES_GROUPE_SAS,NaN,CYBER SECURITE GROUPECCA : MISTRAL XMCO 2024EX...
1,AFI_ASSURANCES_SAS,1,2025-01-31,ODR,3,62320000,Developpement et création WEB,REPORTING JANVIER 2025,CCA DILOGIS 2/3,AFI_ASSURANCES_SAS,NaN,Developpement et création WEBCCA DILOGIS 2/3RE...

In [59]:
fuil1['Nom_mapping'].dtypes

string[python]

In [61]:
def get_auxiliaire(text):
    if pd.isna(text):  # Si le texte dans fuil1 est NaN
        return 'NaN'
    for _, row in fuil2.iterrows():
        if pd.notna(row['Nom']) and row['Nom'] in text:  # Vérifie que 'Nom' n'est pas NaN
            return row['Auxiliaire']
    return 'NaN'

fuil1['Compte auxiliaire de contrepartie'] = fuil1['Nom_mapping'].apply(get_auxiliaire)
fuil1

,SYSDOSSIER,Etablissement,Date,Jal,N°,Général,Libellé 1,Référence interne,Libellé 2,ENTITE CONSO,Compte auxiliaire de contrepartie,Nom_mapping,Auxiliaire
0,ACTIVE_ASSURANCES_GROUPE_SAS,1,2025-01-01,REV,1,61561840,CYBER SECURITE GROUPE,EXT CCA 12/24,CCA : MISTRAL XMCO 2024,ACTIVE_ASSURANCES_GROUPE_SAS,FUPGENNEVILLIERS0,CYBER SECURITE GROUPECCA : MISTRAL XMCO 2024EX...,FUPGENNEVILLIERS0
1,AFI_ASSURANCES_SAS,1,2025-01-31,ODR,3,62320000,Developpement et création WEB,REPORTING JANVIER 2025,CCA DILOGIS 2/3,AFI_ASSURANCES_SAS,40100098000000000,Developpement et création WEBCCA DILOGIS 2/3RE...,40100098000000000
2,ASSUREA_SAS,1,2025-01-31,ODA,36,60401000,PRESTATIONS INFORMATIQUES ET LOGICI,INVEU10505719,CCA : ASANA .COM 2025,ASSUREA_SAS,9ASANA00000000000,PRESTATIONS INFORMATIQUES ET LOGICICCA : ASANA...,9ASANA00000000000
3,ASSUREA_SAS,2,2025-01-31,ODA,37,60401000,PRESTATIONS INFORMATIQUES ET LOGICI,1905,CCA : STARGRAF ABON/HEBERG/MAINT/20,ASSUREA_SAS,FSTARGRAF00000000,PRESTATIONS INFORMATIQUES ET LOGICICCA : STARG...,FSTARGRAF00000000
4,ASSUREA_SAS,1,2025-01-31,ODA,38,61561840,Cyber Sécurité Groupe,2024/1437,CCA : DASHLANE 30/04/24 AU 29/04/25,ASSUREA_SAS,FH000000000000000,Cyber Sécurité GroupeCCA : DASHLANE 30/04/24 A...,FH000000000000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
576,MULTI_IMPACT_SAS,1,2025-01-31,ODC,1441,6156750000000,Maintenance sur matériel,CCA,CCA OCI DELL PROSUPP 2025,MULTI_IMPACT_SAS,FDELL000000000000,Maintenance sur matérielCCA OCI DELL PROSUPP 2...,FDELL000000000000
577,MULTI_IMPACT_SAS,1,2025-01-31,ODC,1442,6156750000000,Maintenance sur matériel,CCA,CCA : CCA OCI DELL PROSUPP 2025,MULTI_IMPACT_SAS,FDELL000000000000,Maintenance sur matérielCCA : CCA OCI DELL PRO...,FDELL000000000000
578,MULTI_IMPACT_SAS,1,2025-01-31,ODC,1446,6262000000000,Frais Télécom Mobiles,CCA,CCA ORANGE MOBILE 02/2025,MULTI_IMPACT_SAS,75ORANGE000000000,Frais Télécom MobilesCCA ORANGE MOBILE 02/2025CCA,75ORANGE000000000
579,MULTI_IMPACT_SAS,1,2025-01-31,ODC,1448,6156170000000,Universign Groupe,FNP,PROV MISTRAL UNIVERSIGN 01/2025,MULTI_IMPACT_SAS,NaN,Universign GroupePROV MISTRAL UNIVERSIGN 01/20...,KO
580,MULTI_IMPACT_SAS,1,2025-01-31,ODC,1449,6156740000000,Outils Bureautiques,F2501269,CCA : FACT PROMATEC LIC SIGN MAIL 1,MULTI_IMPACT_SAS,401PROMATEC000000,Outils BureautiquesCCA : FACT PROMATEC LIC SIG...,401PROMATEC000000

In [66]:
count_ko = fuil1['Auxiliaire'].value_counts().get('KO', 0)
total = len(fuil1['Auxiliaire'])
print(f"Nombre total Auxiliaire Vide au départ : {total}")
print(f"Nombre total Auxiliaire trouvé : {total-count_ko} , {int(100*(total-count_ko)/total)}%")
print(f"Nombre total Auxiliaire NON trouvé : {count_ko}, {int(100*count_ko/total)}%")

Nombre total Auxiliaire Vide au départ : 581
Nombre total Auxiliaire trouvé : 470 , 80%
Nombre total Auxiliaire NON trouvé : 111, 19%

In [67]:
resultat= fuil1.drop(['Auxiliaire', 'Nom_mapping'], axis=1)

In [68]:
resultat.to_excel('./data/resultat.xlsx', index=False)

In [ ]:
total = len(fuil1['Auxiliaire'])

# Nombre de 'KO'
count_ko = (fuil1['Auxiliaire'] == 'KO').sum()

# Calcul du pourcentage de 'KO'
percentage_ko = (count_ko / total) * 100

print(f"Pourcentage de 'KO' : {percentage_ko:.2f}%")

In [ ]:
fuil2['Nom'] = fuil2['Nom'].astype('string')
fuil2['Nom'].dtype

string[python]

In [ ]:
import pandas as pd

# DataFrames
df1 = pd.DataFrame({
    'nom_mapping': ['apple pie', 'banana bread', 'cherry tart', 'blueberry muffin']
})

df2 = pd.DataFrame({
    'nom': ['apple', 'banana', 'cherry', 'grape'],
    'auxiliaire': ['apple1111', 'banana1323', 'cherry212', 'grape9999']
})

# Fonction pour trouver la correspondance et renvoyer la valeur auxiliaire
def get_auxiliaire(text):
    for _, row in df2.iterrows():
        if row['nom'] in text:
            return row['Auxiliaire']
    return 'KO'

# Appliquer la fonction pour créer la colonne auxiliaire dans df1
df1['Auxiliaire'] = df1['Nom_mapping'].apply(get_auxiliaire)

print(df1)

        nom_mapping  auxiliaire
0         apple pie   apple1111
1      banana bread  banana1323
2       cherry tart   cherry212
3  blueberry muffin          KO

In [51]:
import pandas as pd

# DataFrames avec des valeurs possibles de type NaN
df1 = pd.DataFrame({
    'nom_mapping': ['apple pie', 'banana bread', 'cherry tart', 'blueberry muffin', None]
})

df2 = pd.DataFrame({
    'nom': ['apple', 'banana', 'cherry', 'grape'],
    'auxiliaire': ['apple1111', 'banana1323', 'cherry212', 'grape9999']
})

# Fonction qui gère les NaN
def get_auxiliaire(text):
    if pd.isna(text):  # Si la valeur est NaN, retourne KO
        return 'KO'
    for _, row in df2.iterrows():
        if row['nom'] in text:
            return row['auxiliaire']
    return 'KO'

# Appliquer la fonction pour créer la colonne auxiliaire
df1['auxiliaire'] = df1['nom_mapping'].apply(get_auxiliaire)

print(df1)

        nom_mapping  auxiliaire
0         apple pie   apple1111
1      banana bread  banana1323
2       cherry tart   cherry212
3  blueberry muffin          KO
4              None          KO

In [52]:
import pandas as pd

# Exemple de données
fuil1 = pd.DataFrame({
    'Nom_mapping': ['apple pie', 'banana bread', 'cherry tart', 'blueberry muffin', None]
})

fuil2 = pd.DataFrame({
    'Nom': ['apple', 'banana', 'cherry', 'grape', None],
    'Auxiliaire': ['apple1111', 'banana1323', 'cherry212', 'grape9999', 'unknown']
})

# Fonction pour récupérer les valeurs correspondantes
def get_auxiliaire(text):
    if pd.isna(text):  # Si le texte dans fuil1 est NaN
        return 'KO'
    for _, row in fuil2.iterrows():
        if pd.notna(row['Nom']) and row['Nom'] in text:  # Vérifie que 'Nom' n'est pas NaN
            return row['Auxiliaire']
    return 'KO'

# Appliquer la fonction pour créer la colonne 'Auxiliaire'
fuil1['Auxiliaire'] = fuil1['Nom_mapping'].apply(get_auxiliaire)

print(fuil1)

        Nom_mapping  Auxiliaire
0         apple pie   apple1111
1      banana bread  banana1323
2       cherry tart   cherry212
3  blueberry muffin          KO
4              None          KO